body {
  background-color: rgb(158, 146, 146);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(27, 80, 82);
}

.header {
  text-align: center;
}

.column {
  background-color: lightgrey;
  width: 300px;
  border: 15px inset rgb(116, 152, 116);
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  text-align: center;
  float: left;
}

.profile-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.picture {
  border-radius: 50%;
  width: 150px;
  height: 250px;
}

.state {
  color: rgb(43, 152, 152);
}

.spacing {
  margin-bottom: -1em;  margin-top: 2em;
}