body {
  background-color: rgb(135, 118, 118);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
  text-align: center;
}
.about-me {
  
}

.column {
  background-color: lightgrey;
  width: 300px;
  border: 15px inset rgb(116, 152, 116);
  padding: 30px;
  margin: 10px;
  text-align: center;
  float: left;
}

.profile-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.picture {
  border-radius: 50%;
  width: 150px;
  height: 250px;
}

